# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env

# IDE files
.vscode/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Virtual environment
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Cache
.cache/

# Pytest
.pytest_cache/






# # Python
# __pycache__/
# *.pyc
# .pytest_cache
# .venv
# venv/

# # Env
# .env

# # DevContainer
# .vscode-server/
